@font-face {
        font-family: 'Apercu';
        src: url('fonts/apercu.eot');
        src: local('Apercu Regular'), local('Apercu'), url('fonts/apercu.ttf') format('truetype');
    }

p.intro {
  font-size: 18px;
  font-family: apercu;
}
select {
  background-color: #FFDBA0;
  font-size: 16px;
  color: #7A7482;
  padding: 14px;
  border: none;
  height: 40px;
  width: 136px;
  font-family: apercu;
  -moz-appearance: none;
  margin-bottom: 24px;
}
select.being {
  width: 200px;
}
select.place {
  margin-right: 16px;
}
.wrap {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdf5eb;
  height: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
p.description {
  width: 75%;
  font-family: Apercu;
}
.classify {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 48px;
  left: 0;
  padding-bottom: 24px;
  font-family: apercu;
}
input {
  padding: 16px;
  width: 75%;
}
button {
  border-radius: 24px;
  background-color: #55C2BB;
  font-family: apercu;
  font-size: 12px;
  color: #ffffff;
  padding: 16px 96px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}
button:hover {
  background-color: #4FB2AC;
}
